.weatherCard {
    border: 3px solid white;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#icon {
    font-size: 5rem;
    padding-top: 2rem;
    margin-top: 1rem;
}


p {
    padding-top: 2rem;
}

.container {
    margin-top:1rem;
    color: white;
}