.weatherCard {
    border: 1px solid black;
    margin-top: 3rem;
    background-color: rgba(0, 0, blue, 0.5);
    border-radius: 20px;
}

#icon {
    font-size: 5rem;
    padding-top: 2rem;
    margin-top: 1rem;
}


p {
    padding-top: 2rem;
}
